9 Reasons Why You Should Start Using Python Dataclasses _ by Ahmed Besbes _ Towards Data Science (05_08_2022 15_26_12).html
A Guide to Excel Spreadsheets in Python With openpyxl – Real Python (05_08_2022 15_34_43).html
test.xlsx
utils.py 
reqs.txt

